/*sets up the box for the form*/
.info
{
    box-sizing: border-box;

    position: absolute;
    width: 1016px;
    height: 470px;
    left: 230px;
    top: 100px;

    background: #9AC899;
    border: 3px solid #01141B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
}
/*sets up the other half of the box*/
.rate
{
  position: absolute;
  width: 412px;
  height: 467.5px;
  left: 831px;
  top: 100px;
  
  background: rgba(32, 90, 74, 0.75);
  border-radius: 8px;
}

.text
{
  position: absolute;
  width: 360px;
  height: 46px;
  left: 40px;
  top: 300px;
  
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 41px;
  
  color: #010E12;
  
}
.image
{
  position: absolute;
  width: 250px;
  height: 240px;
  left: 80px;
  top: 60px;
}
/*sets up the style for the feedback form*/
.root
  {
    padding: 0;
    margin: 0;
  }
  
  .body_feedback
  {
    box-sizing: border-box;
  }
  
  section 
  {
    height: 100vh;
    width: 2559px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .container2 
  {
    position: absolute;
    width: 2559px;
    height: 188px;
    left: 50px;
    top: 50px;
  }
  
  .form-group 
  {
    width: 25590x;
    margin-top: 2.18vh;
    font-size: 2.18vh;
  }
  
  .form-group input, .form-group textarea 
  {
    box-sizing: border-box;
    width: 460px;
    padding: 5px;
    font-size: 1.94vh;
    border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 0.199);
    margin-top: 0.27vw;
  }
    
  textarea 
  {
    resize: none;
  }

/*sets up the style and hover effect for the submit button*/  
  button[type="submit"] 
  {
    width: 460px;
    border: none;
    outline: none;
    padding: 1.1vw;
    font-size: 2.6vh;
    border-radius: 8px;
    font-family: "Montserrat";
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    cursor: pointer;
    margin-top: 1.08vh;
    transition: 0.3s ease;
  }
  
  button[type="submit"]:hover 
  {
    color: white;
    background-color: #474747;
    transition: 0.5s;
  }

/*sets up the style for the website's logo*/  
.chimera
{
    position: absolute;
    width: 200px;
    height: 100px;
    left: 6px;
    top: 5px;
}