.info
{
    box-sizing: border-box;

    position: absolute;
    width: 1016px;
    height: 470px;
    left: 230px;
    top: 80px;

    background: #9AC899;
    border: 3px solid #01141B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
}
.game_name
{
    position: absolute;
    width: 333.15px;
    height: 126.92px;
    left: 139.36px;
    top: 212.18px;

    background: #D9D9D9;
}